*{
    margin: 0;
    padding: 0;
}


.container{
    height: 100vh;
    background-color: rgba(255, 255, 255, 0);
    background-size: 100% 100%;
}

.container .navbar{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    position: fixed;
}

.navbar .logo {
    display: inline-block;
    margin-left: 50px;
}

.logo {
    width: 150px; /* Logonun genişliği */
    height: 100px; /* Logonun yüksekliği */
    background-image: url('../img/logo.png'); /* Görselin dosya yolu */
    background-size: contain; /* Görseli kutuya sığdırır */
    background-repeat: no-repeat; /* Tekrarlamayı engeller */
    background-position: center; /* Görseli ortalar */
}

.navbar ul{
    float: right;
    margin-right: 20px;
}

.navbar ul li {
    display: inline-block;
    list-style: none;
    margin: 0 8px;
    margin-top: 40px;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0 8px;
    margin-top: 30px;
    font-family: sans-serif;
    font-size: 20px;
    padding: 6px 13px;
    transition: all 0.3s ease;
}

.navbar ul li a.active{
    background-color: rgb(255, 187, 0);
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Gölge efekti */
}

.navbar ul li a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 187, 0);
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Gölge efekti */
}

.navbar ul li a.active:hover{
    color: rgb(255, 255, 255);
    transition: transform 0.5s;
}

.homepage-container{
    width:100%;
    height: 910px;
    display: flex;
    align-items: center; /* Dikeyde ortalar */
    justify-content: center; /* Yatayda ortalar */
    background-image: url('../img/background1.jpg'); /* Arka plan resmini ekler */
    background-size: cover; /* Resmi kapsayacak şekilde ayarlar */
    background-position: center; /* Resmi ortalar */
    background-repeat: no-repeat; /* Resmin tekrarlanmasını engeller */
}

.homepage-texts-container {
    text-align: center; /* İçerik metnini ortalar */
}

.profile-picture {
    width: 150px; /* Fotoğrafın genişliği */
    height: 150px; /* Fotoğrafın yüksekliği */
    border-radius: 50%; /* Yuvarlak çerçeve için */
    background-image: url('../img/emirhan-asik.jpg'); /* Fotoğraf dosyasının yolu */
    background-size: cover; /* Fotoğrafı tam olarak doldurur */
    background-position: center; /* Fotoğrafın ortalanmasını sağlar */
    border: 3px solid #ffbb00; /* Çerçeve rengi ve kalınlığı */
    margin: 0 auto 20px; /* Ortalanması ve alt boşluk için */
    transition: all 0.3s ease;
}

.profile-picture:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Gölge efekti */
    transform: scale(1.1);
}

.homepage-texts-container h1{
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
}

.homepage-texts-container h2{
    color: rgb(57, 57, 57);
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
}

.homepage-texts-container button {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 40px;
    padding: 15px 30px;
    transition: all 0.3s ease;
}

.homepage-texts-container button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 187, 0);
    border-radius: 40px;
    padding: 15px 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Gölge efekti */
    transform: scale(1.1); /* Butonu biraz büyütür */
}

.footer-container {
    display: flex;
    flex-direction: column; /* Öğeleri dikey olarak hizalar */
    align-items: center; /* Dikeyde ortalar */
    justify-content: center; /* Yatayda ortalar */
    text-align: center; /* Metni ortalar */
    width: 100%;
    height: 120px;
    font-family: sans-serif;
    text-align: center;
    background-color: rgba(230, 230, 232);
}

.footer-container h2 {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.footer-container p {
    font-size: 12px;
    color: #777;
    margin-bottom: 15px;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-media a img {
    width: 90px;
    height: auto;
    transition: transform 0.3s ease;
}

.social-media a img:hover {
    transform: scale(1.2);
}

.aboutpage-container {
    margin-top: 500px;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
    font-family: sans-serif;
    background-color: #ffffff;
}

.aboutpage-texts-container h1 {
    font-size: 36px;
    color: #333;
    margin-top: 50px;
}

.aboutpage-texts-container h2 {
    font-size: 24px;
    color: #555;
    margin-top: 10px;
    font-weight: normal;
}

.aboutpage-texts-container p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin: 20px 0;
}

.aboutpage-texts-container ul li {
    list-style: none;
}

#toggleButton {
    background-color: #ffbb00; /* Butonun arka plan rengi */
    color: #fff; /* Yazı rengi */
    border: none; /* Kenarlık kaldırıldı */
    border-radius: 20px; /* Yuvarlak köşeler */
    padding: 10px 20px; /* İç boşluk */
    font-size: 16px; /* Yazı boyutu */
    font-family: sans-serif; /* Yazı tipi */
    cursor: pointer; /* Fare imlecini el simgesine çevirir */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Geçiş efektleri */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Gölge efekti */
}

#toggleButton:hover {
    background-color: #e6a500; /* Hover durumunda daha koyu bir renk */
    transform: scale(1.05); /* Hafifçe büyür */
}

.projects-title-container{
    padding-top: 100px;
    font-size: 30px; /* Yazı boyutu */
    font-family: sans-serif; /* Yazı tipi */
    text-align: center; /* Metni ortalar */
}

.projects-bar-container{
    padding-top: 20px;
    font-family: sans-serif; /* Yazı tipi */
    text-align: center; /* Metni ortalar */
}

.projects-bar-container button {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 40px;
    margin: 0 8px;
    padding: 5px 10px;
    transition: 0.5s;
}

.projects-bar-container button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 187, 0);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Gölge efekti */
    transform: scale(1.1); /* Butonu biraz büyütür */
}

.projects-bar-container button.active {
    color: rgb(255, 187, 0);
    background-color: rgba(255, 187, 0, 0);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Gölge efekti */
    transform: scale(1.1); /* Butonu biraz büyütür */
    font-weight: bold;
}

.projects-bar-container button.active:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 187, 0);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Gölge efekti */
    transform: scale(1.2); /* Butonu biraz büyütür */
}

.projects-container{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.project-container{
    height: 600px;
    flex-basis: calc(35% - 10px); /* Yan yana iki element için genişlik */
    aspect-ratio: 1 / 1; /* Kare oranı */
    box-sizing: border-box; /* Kenarlık ve padding dahil */
    background: #ffffff;
    padding: 25px 20px;
    border-radius: 10px;
    border: 2px solid #ddd;
    margin: 10px auto 20px; /* Ortalanması ve alt boşluk için */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.project-container:hover{
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Gölge efekti */
    transform: scale(1.1s); /* Butonu biraz büyütür */
}

.project-container h3 {
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    margin-top: 20px;
}

.project-container img {
    width: 100%; /* Konteyner içinde daha uyumlu olması için %100 yapıldı */
    max-width: 450px; /* Görselin maksimum genişliği */
    height: auto; /* Oranları koruyarak yeniden boyutlandırma */
}

.project-container p {
    font-family: sans-serif;
    font-size: 15px;
}

.project-container a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    border: 2px solid #000000;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 40px;
    margin: 0 8px;
    padding: 5px 10px;
    transition: 0.5s;
}

.project-container a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 187, 0);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Gölge efekti */
    transform: scale(1.1); /* Butonu biraz büyütür */
}

.contacts-title-container{
    padding-top: 50px;
    font-family: sans-serif; /* Yazı tipi */
    text-align: center; /* Metni ortalar */
}

.contacts-title-container h1{
    font-size: 50px; /* Yazı boyutu */
}

.contacts-title-container h2{
    font-size: 20px; /* Yazı boyutu */
}

.aboutpage-texts-container a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    border: 2px solid #000000;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 40px;
    margin: 0 8px;
    padding: 5px 10px;
    transition: 0.5s;
}

.aboutpage-texts-container a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 187, 0);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Gölge efekti */
    transform: scale(1.1); /* Butonu biraz büyütür */
}

.projects-texts-container{
    text-align: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.hp-projects-containers {
    background-color: rgba(230, 230, 232);
}

.projects-texts-container a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    border: 2px solid #000000;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 40px;
    margin: 0 8px;
    padding: 5px 10px;
    transition: 0.5s;
}

.projects-texts-container a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 187, 0);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Gölge efekti */
    transform: scale(1.1); /* Butonu biraz büyütür */
}

.projects-texts-container p{
    font-family: sans-serif;
    font-size: 17px;
    text-align: center;
}

.projects-texts-container img {
    margin-left: 20px;
    width: 450px; /* Konteyner içinde daha uyumlu olması için %100 yapıldı */
    height: 250px; /* Oranları koruyarak yeniden boyutlandırma */
}

.message-form{
    width: 80%; /* Genişliği ayarlayın, örneğin %60 */
    max-width: 1200px; /* Maksimum genişlik belirleyin */
    margin: 20px auto; /* Üstten ve alttan boşluk, ortalamak için auto */
    border-radius: 15px; /* Yuvarlak çerçeve için */
    border: 2px solid #000000; /* Çerçeve rengi ve kalınlığı */
    padding: 20px; /* İç boşluklar */
    box-sizing: border-box; /* Padding'in genişliğe dahil edilmesi */
    font-family: sans-serif;
    font-size: 20px;
}

.message-form .form .input-box {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
}

.input-box label {
    color: #333;
}

.form :where(.input-box input, .select-box) {
    margin-top: 10px;
    position: relative;
    height: 50px;
    width: 97%;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.form .column{
    display: flex;
    column-gap: 50px;
}

.form .column .input-box{
    width: 540px;
}

.select-box select{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
}

.input-box textarea{
    margin-top: 10px;
    position: relative;
    height: 200px;
    width: 97%;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
    padding-top: 15px;
    font-family: sans-serif;
    font-size: 1rem;
    color: #333;
}

.form button{
    height: 50px;
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
    font-family: sans-serif;
    font-size: 1rem;
    color: #333;
    background-color: #ffffff;
    
}

.form button:hover{
    background-color: #ffbb00;
    transform: scale(1.1s);
}